@import url("/style/shorts.css");
@import url("/style/fonts.css");
@import url("/style/slideshow.css");

body {
    padding: 0;
    margin: 0;
    color: #261207;
    font-family: 'Century';
    background-image: url('/assets/bg02.png');
    background-attachment:fixed;
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
}

H1 {
    font-family: Hidayatullah;
    font-size: xxx-large;
    margin: 0;
}

h2, p, a {
    font-family: 'Century';
    text-decoration: none;
    color: #261207;
}

.header {
    width: 100%;
    height: 100%;
    max-height: 100%;
}

.body {
    width: 80%;
    padding: 5% 10%;
    background: #ffffff66;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.certificates {
    display: flex;
    align-content: center;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.certificates img {
    margin: 1%;
    width: 40%;
    border: 10px solid aliceblue;
    border-radius: 50px;
    box-shadow: 10px 10px 15px 0 #0000002e;
    -moz-box-shadow: 10px 10px 15px 0 #0000002e;
    -webkit-box-shadow: 10px 10px 15px 0 #0000002e;
}

.top-header {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    width: -webkit-fill-available;
    height: 12%;
}

.tbt {
    padding: 35px;
    text-transform: uppercase;
}

.h-image {
    max-height: 90%;
    width: -webkit-fill-available;
    border-style: solid;
    border-width: 5px;
    border-radius: 100%;
    border-color: transparent;
    margin: 6% 0 0 12%;
    box-shadow: 0 0 5px rgb(0 0 0 / 40%);
    background: linear-gradient(145deg, rgba(23,10,7,1) 0%, rgba(97,57,27,1) 100%);
}


.rounded-gradient-borders {
    border: double 5px transparent;
    border-radius: 50%;
    background-image: radial-gradient(circle at 100%, #734822, #261207), radial-gradient(circle at top left, #37261c, #37261c, #37261c, #e6ded3,#e6ded3);
    background-origin: border-box;
    background-clip: content-box, border-box;
    aspect-ratio: 1/1;
    height: fit-content;
    object-fit: contain;
  }
  
  .rounded-corners-gradient-borders-2 {
    border: double 10px black;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    background-clip: content-box;
    background-color: red;
    float: left;
  }