body {
    margin: 0;
    padding: 5%;
    font-family: segoe ui;
    background-color: #EDF1ED;
}

.lighter {
    font-weight: lighter;
}

.row {
    display: flex;
    flex-direction: row;
}

.column {
    display: flex;
    flex-direction: column;
}

.bottom-bar {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 30px;
    background-color: #212627;
}

.cont {
    border-radius: 10%;
    min-width: 200px;
    min-height: 200px;
    box-shadow: 15px 15px 50px 0 rgb(0 0 0 / 30%);
}

.header {
    background-image: url(/pages/assets/background-decor.png);
    background-size: 30px;
    background-repeat: repeat;
    background-color: #ffffff;
}