@import url("/style/shorts.css");
@import url("/style/fonts.css");

body {
    padding: 0;
    margin: 0;
    color: #261207;
    font-family: 'Century';
    background-color: #faf8f3;
}

H1 {
    font-family: Hidayatullah;
    font-size: xxx-large;
    margin: 0;
}

h2, p, a {
    font-family: 'Century';
    text-decoration: none;
    color: #261207;
}

.header {
    background: linear-gradient(335deg, rgba(251,252,247,1) 0%, rgba(253,239,218,1) 100%);
    background-size: cover;
    width: 100%;
}

.spacing {
    padding-top: 20%;
}

.body {
    width: 84%;
    padding: 10% 8%;
    background: #ffffff66;
    display: flex;
    flex-direction: column;
    align-items: center;
}



.certificates {
    display: flex;
    align-content: center;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.certificates img {
    width: 100%;
    border: 10px solid aliceblue;
    border-radius: 50px;
    box-shadow: 10px 10px 15px 0 #0000002e;
    -moz-box-shadow: 10px 10px 15px 0 #0000002e;
    -webkit-box-shadow: 10px 10px 15px 0 #0000002e;
}